.container {

	border: 1px solid #ccc;
	height: auto;
	margin: 0 auto;
	padding: 1em;
	text-align: center;
	width: 250px;
	margin-bottom: 1em;
}

#result {

	border: 1px solid #ccc;
	height: 25px;
	margin: 0 auto;
	padding: 1em;
	text-align: center;
	width: 50%;
}